@media (prefers-color-scheme: dark) {
  .vditor-reset {
    --tw-text-opacity: 1;
    color: rgb(243 244 246/var(--tw-text-opacity)) !important;
  }
}

.pjax-start {
  opacity: 0;
  transition: opacity 0.3s;
}

.pjax-end {
  opacity: 1;
}

mog-comments {
  border-radius: 10px;
  position: relative;
}