<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= config.seo.title %> - <%= config.seo.description %>
  </title>
  <link href="/raw/assets/tailwind.css" rel="stylesheet">
  <link href="/raw/assets/tiny.css" rel="stylesheet">
  <script src="/raw/assets/tiny.js"></script>
  <script src="/raw/assets/topbar.min.js"></script>
</head>

<body>
  <div class='max-w-3xl px-4 mx-auto sm:px-6 xl:max-w-5xl xl:px-0'>
    <div class='flex flex-col justify-between h-screen"'>
      <%- include('../shared/header.ejs') %>
        <main class='mb-auto' id="main">
