<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= config.seo.title %> - <%= config.seo.description %>
  </title>
  <link href="./raw/assets/tailwind.css" rel="stylesheet">
</head>

<body>
  <div className='max-w-3xl px-4 mx-auto sm:px-6 xl:max-w-5xl xl:px-0'>
    <div className='flex flex-col justify-between h-screen"'>
      <%- include('../header.ejs') %>
        <main className='mb-auto'>